*{
    margin: 0;padding: 0;
}
.logo-container{
    height: 100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo{
    height:40vh;
    width:30vw;
    cursor: pointer;
    transition: 0.5s;
}
#logo:hover{
    opacity: .7;
}
#mega-container{
    display: none;
    background: linear-gradient(red,white);
}
.container{
    display: flex;
    justify-content: space-between;
    /* position: absolute; */
    z-index: 2;
    border: 2px solid green;
}
#head{
    /* color: white; */
    font-style: cursive;
    animation: display 1s;
}
#cross{
    font-size:4rem;
    border: 2px solid yellow;
    /* position: absolute; */
    cursor: pointer;
    z-index: 2;
    animation: display 1s;
}
#poster-img{
    position: fixed;
    width:80vw;
    position: absolute;
    height:80vh;
    z-index: 1;
    animation: display 1s;
}
@keyframes display{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}